<section class="main">
  <div class="app-wrapper">

    <!-- Header Section -->
    <header class="header">
      <h1>Todos</h1>
      <mat-form-field class="new-task-inp">
        <input class="new-task-inp" matInput placeholder="Add task" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
      </mat-form-field>

    </header>

    <!-- List container -->
    <section class="todo-list-container" *ngIf="todos.length > 0">
      <ul class="todo-list">
        <li *ngFor="let todo of todos" [class.completed]="todo.complete">
          <div class="view">
            <label class="container"> 
              <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
              <span>{{todo.title}}</span>
              <span class="checkmark"></span>
            </label>
            <button mat-raised-button color="warn" class="destroy" (click)="removeTodo(todo)">x</button>
          </div>
        </li>
      </ul>
    </section>

    <!-- Footer -->
    <footer class="footer" *ngIf="todos.length > 0">
      <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
    </footer>
  </div>
</section>